
<div class="text-center">
  <h2>{{blog.name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{blog.text}}</p>
  <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>

  {{#each comments as |comment| }}
<p>{{comment.text}}</p>
  {{/each}}
</div>

<div class="text-center">
  <form id="comment-form">
    <div class="form-group">
      <textarea class="form-control" id="comment-text" name="text" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>
</div>


<script src="/public/js/blog.js"></script>